<div class="invoice-box rtl">
  <table cellpadding="0" cellspacing="0">
    <tr class="top">
      <td class="title" rowspan="4">
        Delivery Order
      </td>
      <td>
        <strong>PT ANUGRAH DISTRIBUTOR INDONESIA</strong>
      </td>
    </tr>
    <tr class="top left">
      <td>
        JL. PRABU KIAN SANTANG NO. 169<br>
        SANGIANG JAYA, PRIUK TANGERANG<br> 
        02155723577
      </td>
    </tr>
  </table>
</div>

<hr>

<div class="invoice-box rtl">
  <table cellpadding="0" cellspacing="0">
    <tr>
      <td width="40%">
        <table cellpadding="0" cellspacing="0">
          <tr class="top left">
            <td><%= @delivery_order.number %></td>
            <td>
              <strong>Delivery No</strong>
            </td>
          </tr>
          <tr class="top left">
            <td><%= @delivery_order.created_at.strftime '%D' %></td>
            <td>
              <strong>Delivery Date</strong>
            </td>
          </tr>

          <tr class="top left space-top">
            <td>#<%= @order.number %></td>
            <td><strong>PO Number</strong></td>
          </tr>

          <tr class="top left space-top">
            <td><%= @user.name %></td>
            <td><strong>Signed by</strong></td>
          </tr>
        </table>
      </td>

      <td width="60%">
        <table cellpadding="0" cellspacing="0">
          <tr class="top left">
            <td>
              <strong>Ship to</strong>
            </td>
          </tr>
          <tr class="top left">
            <td>
              <%= @order.customer.name %><br>
              <%= @order.customer.default_address.address %>
            </td>
          </tr>

          <tr class="top left">
            <td>
              <strong>Bill to</strong>
            </td>
          </tr>
          <tr class="top left">
            <td>
              <%= @order.customer.name %><br>
              <%= @order.address.address %>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</div>

<div class="invoice-box rtl">
  <table cellpadding="0" cellspacing="0">
    <tr class="heading center">
      <td width="20%">Serial Number</td>
      <td width="20%">Qty</td>
      <td width="50%">Item</td>
      <td width="10%">Code</td>
    </tr>
    <% @order.carts.each do |cart| %>
      <tr class="item left">
        <td width="20%"><%= cart.product.serial_number %></td>
        <td width="20%"><%= cart.quantity %></td>
        <td width="50%"><%= cart.product.name %></td>
        <td width="10%"><%= cart.product.code %></td>
      </tr>
    <% end %>

    <tr class="heading">
      <td colspan="2"><strong><%= number_to_currency @order.sub_total, unit: 'Rp. ' %></strong></td>
      <td colspan="2">Sub Total</td>
    </tr>
    <tr class="heading">
      <td colspan="2"><strong><%= number_to_currency @order.discount, unit: 'Rp. ' %></strong></td>
      <td colspan="2">Discount</td>
    </tr>

    <tr class="heading">
      <td colspan="2"><strong><%= number_to_currency @order.total, unit: 'Rp. ' %></strong></td>
      <td colspan="2">Total</td>
    </tr>
  </table>
</div>